####################################################################################################
## Build folder
####################################################################################################
Build

####################################################################################################
## CLion IDE
####################################################################################################
**.idea
